@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    background-color: #F1EBE5;
}

.headernav {
    display: flex;
    align-items: center;
    background-color: #8E5E37;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    z-index: 1000;
}

.headernav .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.headernav .nav-button, .headernav .active-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none; 
    padding: 1rem 2.5rem; 
    transition: background-color 0.3s, color 0.3s; 
    color: #FFFFFF;
}

.headernav .nav-button:hover {
    color: rgb(0, 0, 0);
    background-color: #F1EBE5;
}

.headernav .active-button {
    color: rgb(0, 0, 0);
    background-color: #F1EBE5;
}